/*
  App
*/
$app-color-primary: #6983c2;
$app-bg-dark: #000000e6;
$custom-color-border: #3e3a3ae6;


/*
  Nav
*/
$nav-color: transparent;


/*
  Links
*/
$link-color-nav: #fff;
$link-color-nav-hover: darken($link-color-nav, 30);
$link-color-nav-active: $app-color-primary;


/*
  Components
*/
$element-transition: .3s ease;


/*
  Chat
*/
$chat-text-color: #eeeeee;
$chat-border-color: #b0b0b0;
