/*
  App
*/
$app-color-primary: #7e0d31;


/*
  Nav
*/
$nav-color: #cecbcb;


/*
  Links
*/
$link-color-nav: #fff;
$link-color-nav-hover: darken($link-color-nav, 30);
$link-color-nav-active: $app-color-primary;


/*
  Components
*/
$element-transition: .3s ease;


/*
  Chat
*/
$chat-text-color: black;
$chat-border-color: #b0b0b0;
