@import "./../base/variables";

.chatWindow {
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 15px auto;
  border: 3px solid $chat-border-color;
  height: 500px;
  max-height: 70vh;
  position: relative;
  padding-bottom: 40px;

  .list-messages {
    overflow-y: auto;
    height: 100%;

    li {
      position: relative;
      width: 100%;
      line-height: 30px;
      min-height: 40px;
      font-size: 18px;
      color: $chat-text-color;
      padding: 10px 10px 0;
      border-bottom: 1px solid $chat-border-color;
      word-break: break-all;

      .message-time {
        font-size: 10px;
        position: absolute;
        color: $app-color-primary;
        right: 10px;
        top: -5px;
      }
    }
  }

  .chatPanel {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;

    .messageField {
      width: calc(100% - 100px);
      height: 100%;
    }
    .messageSubmit {
      width: 100px;
      height: 100%;
    }
  }
}