@import "./../base/variables";

.list-rooms {
  padding: 20px 0;
  width: 100%;
}

.link-chat {
  width: 100%;
  height: 40px;
  transition: all .2s ease;
  padding-left: 15px;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  a {
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
    color: $chat-text-color;
    display: block;
  }
}

.create-room {
  font-size: 20px;
  background: transparent;
  display: block;
  color: $chat-text-color;
  margin: 10px auto;
  padding: 5px 20px;
  cursor: pointer;
  border: 3px solid $custom-color-border;
  transition: all .3s ease;

  &:hover {
    background: $chat-text-color;
    color: $app-bg-dark;
  }
}